.git
.gitignore
README.md
Dockerfile
.dockerignore
*.md
.github
.idea
.vscode
test

*.ps1
*.bak
test_*.*

dist/*
output/*
mihomo-check*

openipdb.ipdb
config.yaml
mihomo.yaml
.golangci-lint.yml

.DS_Store

test_*/
*.csv

*.old
*.new

*.exe
*.syso
.wiki/
!bin/Linux_arm/*
